p{
    color: blue;
    font-size: 34px;
    font-weight: bold;
}

/* class  Para poder llamar a una clase*/ 
.parrafo{
    color: red;
}

/* ID otro selector empiza con un # */

#texto{
    color: skyblue;
    font-size: 24px;
}